Mobile.CQRS/bin
UnitTests/Mobile.CQRS.UnitTests.iOS/bin
UnitTests/UnitTestRunner.iOS/bin
UnitTests/UnitTestRunner.iOS/obj
Core/bin
Core/Mobile.CQRS.Portable/bin
Core/Mobile.CQRS.Portable/obj
Platform/Mobile.CQRS.iOS/bin
Platform/Mobile.CQRS.Droid/bin
Platform/Mobile.CQRS.Droid/obj
